@import "tailwindcss";

@theme {
  --color-primary-bg: #f9fafb;
  --color-secondary-bg: #f0f6ff;

  --color-primary: #1e3a8a;
  --color-secondary: #f97316;

  --color-dark-gray: #4b5563;
  --color-light-gray: #979797;

  --color-black: #020817;
}
